:host {
    display: block;
    width:80%;
    padding:0.4em;
    margin:auto;
}

paper-checkbox {
    padding:4px;
}

paper-checkbox::shadow  #checkbox {
    border-color:#a2a2a2;
}
paper-checkbox::shadow #checkbox.checked {
    background-color:#55165a;
}
.taskcontent {
    margin-left:0.4em;
}

p#dateheader {
    font-weight:10;
}
span#date {
    color:red;
    margin-left:0.2em;
}


